.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  @media screen and (max-width: 67.5em) {
    // 1080px
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

.blogItem {
  padding: 0.5rem;
  background-color: var(--item-background-color);
  border: 2px solid var(--highlight-color);
  overflow: hidden;
  min-height: 20;
  .blog-content {
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      background-color: white;
      aspect-ratio: 26/13;
      transition: all 0.15s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  .excerpt {
    font-size: 1rem;
    color: var(--main-font-color);
  }
}

.blog-link {
  margin-bottom: 0.45rem;
  color: var(--main-font-color);
  font-family: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: var(--highlight-color);
  }
}

.blogList {
  margin: auto;
  h4 {
    margin-bottom: 0.3rem;
    font-family: inherit;
  }
  p.blog-link {
    color: var(--main-font-color);
    padding: 0.2rem;
    &:hover {
      color: var(--highlight-color);
    }
  }
}

.blog-title {
  margin: 1rem 0;
}

.blog-item {
  display: flex;
  flex-wrap: wrap;
  .wrapper-left {
    img {
      max-width: 70vw;
    }
    .blog-text {
      margin: 1rem 0;
      display: flex;
      max-width: 60ch;
    }
    .blog-date {
      font-style: oblique;
    }
    .button {
      display: inline-block;
      padding: 0.1rem 0.5rem;
      border: 1px solid white;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      &:hover {
        transition: all 0.2s ease-in-out;
        color: var(--main-font-color);
        background-color: var(--highlight-color);
      }
      i {
        padding: 0.1rem 0.3rem 0.1rem 0.1rem;
      }
      &.blog-link {
        margin-bottom: 2rem;
        padding-bottom: 0.33rem;
      }
    }
  }
  .wrapper-right {
    .BlockList {
      margin-left: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
    @media only screen and (max-width: 1760px) {
      margin: 0 auto;
    }
  }
}

.BlogsPage {
  .blog-title {
    margin-bottom: 4rem;
    white-space: nowrap;
  }
}
