.BlogsPage {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2.5rem;
	@media screen and (max-width: 67.5em) {
		// 1080px
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 2rem;
	}
	.blog {
		width: 100%;
		padding: 0.5rem;
		background-color: var(--gray-color);
		border: 1px solid var(--orange-color);
		overflow: hidden;
		.blog-content {
			overflow: hidden;
			padding-bottom: 2rem;
			img {
				width: 100%;
				transition: all .15s ease-in-out;
				&:hover {
					transform: scale(1.1);
				}
				padding-bottom: 2rem;
			}
			a {
				text-decoration: none;
				color: white;
			}
			p {
				color: white;
			}
			.blog-link {
				color: inherit;
				font-family: inherit;
				text-decoration: none;
				font-size: 2rem;
				padding-bottom: 2rem;
				transition: all .2s ease-in-out;
				&:hover {
					color: var(--orange-color);
				}
			}
		}
	}
}

.blog-item {
	.blog-title {
		margin: 1rem 0;
	}
	.blog-text {
		margin: 1rem 0;
	}
}

.blog-title .b-title {
	margin-bottom: 4rem;
	white-space: nowrap;
}
