:root {
  --highlight-color: #f06800;

  //social media colors
  --github-color: white;
  --linkedIn-color: #0e76a8;
}

.light-theme {
  --background-color: white;
  --item-background-color: #beb7b7;
  --main-font-color: black;
}
.dark-theme {
  --background-color: #322c2c;
  --item-background-color: #504c4c;
  --main-font-color: white;
}
