:root {
    --dark-gray-color: #141414;
    --orange-color: #f06800;
    --gray-color: #504c4c;
    --main-font-color: white;

    //social media colors
    --facebook-color: #4267B2;
    --twitter-color: #1DA1F2;
    --github-color: white;
    --youtube-color: #E62117;
}