.HomePage {
  max-width: 64ch;
  margin-block-start: 5rem;
}

.hero {
  margin: 0 auto;
  .hero-text {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: var(--main-font-color);
    text-align: center;
    span {
      color: var(--highlight-color);
    }
  }
}

.h-sub-text {
  line-height: 1.49;
  margin-bottom: 1.35rem;
  text-wrap: pretty;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: var(--highlight-color);
      transition: all 0.15s ease-in-out;
    }
    .github:hover {
      color: var(--github-color);
    }
    .linkedIn:hover {
      color: var(--linkedIn-color);
    }
  }
}
