.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.hero {
    max-width: 90ch;
    margin: 0 auto;
    .hero-text{
        font-size: clamp(2.4rem, 1.2rem) !important; 
        color: white;
        text-align: center;
        span{
            color: var(--orange-color);
        }
    }
}

.h-sub-text{
    text-align: center;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    .icon-holder{
        margin-right: 1rem;
        .icon{
           font-size: 2.8rem;
           color: var(--gray-color);
           transition: all .15s ease-in-out;
        }
        .facebook:hover {
            color: var(--facebook-color);
        }
        .twitter:hover {
            color: var(--twitter-color);
        }
        .github:hover {
            color:var(--github-color);
        }
        .youtube:hover {
            color: var(--youtube-color);
        }
    }
}